.group {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.legend {
  margin-bottom: 16px;
  color: #4d433d;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.025em;
}

.hint {
  margin-left: 4px;
  color: #968d88;
  font-size: 0.875rem;
  font-weight: 400;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
}
